body{
    overflow: hidden;
}

@media only screen and (max-width:1000px)
{
    .title{
        width:200px;
    }
    .scroller{
        animation-duration:80s;
    }

    p{
        animation-delay:40s;
    }

    h2, h1{
        animation-delay: 10s;
    }
}
@media only screen and (min-width:1000px) and (orientation:landscape)
{
    .title{
        width:400px;
    }
    .scroller{
        animation-duration: 50s;
    }

    p{
        animation-delay:24s;
    }

    h2, h1{
        animation-delay: 6s;
    }
}

.title{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    perspective: 400px;

    .texte{
    transform: rotateX(65deg);

        .scroller{
        text-align: center;
        animation-name: scroll;
        animation-direction: normal;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;

            p{
                animation-name: disapear;
                animation-duration: 5s;
                animation-fill-mode: forwards;
            }

            h2, h1{
                animation-name: disapear;
                animation-duration: 5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes scroll{
    0%{
        transform: translateY(65%)
    }
    100%{
        transform: translateY(-80%);
    }
}

@keyframes disapear{
    0%{
        color:black;
    }
    100%{
        color: rgba(0,0,0,0);
    }
}