$delay-scroll:11s;
$delay-logo:7s;

body{
    overflow: hidden;
    margin:0;
    padding:0;
    background-image:url('../images/sky.jpg');
    color:rgb(255, 196, 0);
    
     
}

@media only screen and (max-width:1024px)
{
    .title{
        width:200px;
    }
    .scroller{
        animation-duration:80s;
        animation-delay:$delay-scroll;
        p{
            animation-delay:$delay-scroll+40s;
        }
    
        h2, h1{
            animation-delay:$delay-scroll+10s;
        }
    }
}
@media only screen and (min-width:1024px)
{
    .title{
        width:400px;
    }
    .scroller{
        animation-duration: 80s;
        animation-delay:$delay-scroll;

        p{
            animation-delay:$delay-scroll+40s;
        }
    
        h2, h1{
            animation-delay: $delay-scroll+16s;
        }
    }
}
//part 1

.intro{
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
    position: absolute;
    text-align:center;
    color:rgb(0, 204, 255);
    background-color:black;
    animation-name: intro-disapear;
    animation-delay: 5s;
    animation-duration:2s;
    animation-fill-mode: forwards;
    p{
        position: absolute;
        top:50%; left:50%;
        transform: translate(-50%,-50%);
    }
}

//part 2 
.logo{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);

    .logoBecode{
        opacity:0;
        animation-name:logo-disapear;
        animation-duration:10s;
        animation-delay: $delay-logo;
        animation-fill-mode: forwards;
    }
}

//part 3
.title{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    perspective: 400px;

    .texte{
    transform: rotateX(55deg);

        .scroller{
        text-align: center;
        transform: translateY(100%);
        animation-name: scroll;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;

            p, h2, h1{
                animation-name: disapear;
                animation-duration: 5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes scroll{
    0%{
        transform: translateY(70%)
    }
    100%{
        transform: translateY(-80%);
    }
}

@keyframes disapear{
    0%{
        color:rgb(255, 196, 0);
    }
    100%{
        color: rgba(255, 196, 0, 0);
    }
}

@keyframes intro-disapear{
    0{
        color:rgb(0, 204, 255);
        background-color:black;
    }
    100%{
        color:rgba(0, 204, 255,0);
        background-color:rgba(0,0,0,0);
    }
}

@keyframes logo-disapear{

    0%{
        opacity:0;
    }
    10%{
        opacity: 1;
    }
    100%{
        transform:scale(0.1);
        opacity:0;
    }
}