body {
  overflow: hidden; }

@media only screen and (max-width: 1000px) {
  .title {
    width: 200px; }
  .scroller {
    -webkit-animation-duration: 80s;
    animation-duration: 80s; }
  p {
    -webkit-animation-delay: 40s;
    animation-delay: 40s; }
  h2, h1 {
    -webkit-animation-delay: 10s;
    animation-delay: 10s; } }

@media only screen and (min-width: 1000px) {
  .title {
    width: 400px; }
  .scroller {
    -webkit-animation-duration: 50s;
    animation-duration: 50s; }
  p {
    -webkit-animation-delay: 24s;
    animation-delay: 24s; }
  h2, h1 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s; } }

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-perspective: 400px;
  perspective: 400px; }
  .title .texte {
    -webkit-transform: rotateX(65deg);
    transform: rotateX(65deg); }
    .title .texte .scroller {
      text-align: center;
      -webkit-animation-name: scroll;
      animation-name: scroll;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-iteration-count: 2;
      animation-iteration-count: 2;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .title .texte .scroller p {
        -webkit-animation-name: disapear;
        animation-name: disapear;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .title .texte .scroller h2, .title .texte .scroller h1 {
        -webkit-animation-name: disapear;
        animation-name: disapear;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(65%);
    transform: translateY(65%); }
  100% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%); } }

@keyframes scroll {
  0% {
    -webkit-transform: translateY(65%);
    transform: translateY(65%); }
  100% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%); } }

@-webkit-keyframes disapear {
  0% {
    color: black; }
  100% {
    color: rgba(0, 0, 0, 0); } }

@keyframes disapear {
  0% {
    color: black; }
  100% {
    color: rgba(0, 0, 0, 0); } }
